In [3]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import pymysql
import gc

In [4]:
from dotenv import load_dotenv,dotenv_values
import os

load_dotenv()  # take environment variables from .env.

True

In [5]:
hostname = os.getenv("hostname")
port = os.getenv("port")
username = os.getenv("username")
password = os.getenv("password")
database = os.getenv("database")

In [6]:
username

'root'

In [7]:
engine = create_engine(f"mysql+pymysql://{username}:{password}@{hostname}:{port}/machine_learning")

In [8]:
# data = pd.read_csv("genome_tags.csv")
# data.head()

In [9]:
# data.shape

In [10]:
# data1 = pd.read_csv("genome_scores.csv")
# data1.shape

In [11]:
ratings = pd.read_csv("../rating.csv")
ratings.shape

(20000263, 4)

In [12]:
movies = pd.read_csv("../movie.csv")
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
df = movies.merge(ratings, how="left", on="movieId")
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.0,4.0,1999-12-11 13:36:47
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6.0,5.0,1997-03-13 17:50:52
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8.0,4.0,1996-06-05 13:37:51
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10.0,4.0,1999-11-25 02:44:47
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11.0,4.5,2009-01-02 01:13:41

In [29]:
import gc
del movies, ratings
df.shape

(20000797, 6)

### Check how often each movie appears

In [15]:
number_of_reviews = df['title'].value_counts()

In [16]:
## get moviews with reviews greater than 300
# df_popular = df[df['title'].value_counts() > 300]
# df_popular

In [17]:
number_of_reviews

Pulp Fiction (1994)                          67310
Forrest Gump (1994)                          66172
Shawshank Redemption, The (1994)             63366
Silence of the Lambs, The (1991)             63299
Jurassic Park (1993)                         59715
                                             ...
Rapture (Arrebato) (1980)                        1
Education of Mohammad Hussein, The (2013)        1
Satanas (2007)                                   1
Psychosis (2010)                                 1
Innocence (2014)                                 1
Name: title, Length: 27262, dtype: int64

In [24]:
rare_movies = number_of_reviews[number_of_reviews.values <= 20000].index
print(type(rare_movies))
rare_movies

<class 'pandas.core.indexes.base.Index'>

Index(['Beetlejuice (1988)', 'Incredibles, The (2004)', 'Contact (1997)',
       'Blues Brothers, The (1980)', 'Back to the Future Part III (1990)',
       'Fish Called Wanda, A (1988)', 'Psycho (1960)', 'Big (1988)',
       'Philadelphia (1993)', 'O Brother, Where Art Thou? (2000)',
       ...
       'Satan's Sword (Daibosatsu tôge) (1960)',
       'Blind Massage (Tui na) (2014)', 'Prêt à tout (2014)',
       'Ditchdigger's Daughters, The (1997)', 'A.K. (1985)',
       'Rapture (Arrebato) (1980)',
       'Education of Mohammad Hussein, The (2013)', 'Satanas (2007)',
       'Psychosis (2010)', 'Innocence (2014)'],
      dtype='object', length=27103)

In [25]:
common_movies = df[~df["title"].isin(rare_movies)]
common_movies.shape

(4883635, 6)

In [20]:
type(common_movies)

pandas.core.frame.DataFrame

In [26]:
common_movies.to_sql('all_movies_and_ratings', engine, if_exists="append")

4883635

In [22]:
# conn = pymysql.connect(
#     host='localhost',
#     user='root', 
#     password = password,
#     db=database,
#     )
      
# cur = conn.cursor()
# cur.execute("SHOW DATABASES")
# output = cur.fetchall()
# print(output)
    
# # To close the connection
# conn.close()